body {
  background-color: lightgreen;
  font-size: 24px;
}
#speechFeedbackContainer {
  position: absolute;
  bottom: 0;
  border: 2px solid black;
  display: flex;
  flex: 1;
  padding: 10px;
}
#leapFeedback {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid black;
  padding: 10px;
}

#side-container {
  display: flex;
  flex: 1;
  height: 50vh;
  background-color: white;
}
#stateFeedback {
  position: absolute;
  right: 0;
  top: 0;
}
.side-item {
  border: 2px solid black;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 32px;
}

.side-item-chosen {
  background-color: yellow;
  opacity: 0.7;
}

#chooseState:not(.hidden) {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.instructions:not(.hidden) {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  background-color: white;
  z-index: 999;
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
  /* width: 100%; */
}
.hidden {
  display: none;
}
